<header>
    <img src="assets/img/henrique.jpg" 
    alt="imagem"
    width="130px"
    height="130px"
    loading="eager"
    >
    <h1>Henrique Amorim</h1>
</header>
<aside>
    <div class="container">
        <p>Full-Stack Java | Angular | Java | React</p>
        <p>São Paulo, Brasil</p>
        <p>
        Estou na área de desenvolvimento de software mais de 2 anos.
        </p>
        <nav>
            <ul>
                <li><a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                    Download CV
                </a></li>
            </ul>
            <ul>
                <li><a href="https://www.linkedin.com/in/henrique-amorim-81692816a/"
                     target="_blank" class="btn btn-secondary">
                    Link LinkedIn
                </a></li>
            </ul>
        </nav>
        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg"
                 alt="Icone whatsapp"
                 width="22px"
                 height="24px"
                 />
                 <figcaption>
                    <a
                        href="https://api.whatsapp.com/send?phone=5511989694584&text=Ol%C3%A1%20Henrique,%20preciso%20de%20um%20job!"
                        target="_blank"
                    >
                    <strong>Envie uma mensagem para:</strong>
                    <p>WhatsApp: (11) 9 8969-4584</p>
                    </a>
                 </figcaption>
            </figure>
            <figure>
                <img
                  src="assets/icons/mail.svg"
                  alt="Ícone para contato do e-mail"
                  width="22px"
                  height="24px"
                />
        
                <figcaption>
                  <a href="mailto:henrique1023159@gmail.com" target="_blank">
                    <strong>Envie uma e-mail para:</strong>
                    <p>henrique1023159&#64;gmail.com</p>
                  </a>
                </figcaption>
              </figure>
        </section>
    </div>
</aside>